<a href="https://colab.research.google.com/github/KARENCMP82/SQL/blob/main/MIS_APUNTES_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MIS APUNTES DE SQL

In [3]:
from google.colab import files
load=files.upload()

Saving parte1.db to parte1.db

In [4]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM empleados;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   EMP_NO  APELLIDO    OFICIO  DIRECTOR  FECHA_AL  SALARIO  DEP_NO  COMISION
0    7499    ALONSO  VENDEDOR    7698.0  20/02/81    14000      30    4000.0
1    7521     LOPEZ  EMPLEADO    7782.0  08/05/81    13500      10       NaN
2    7654    MARTIN  VENDEDOR    7698.0  28/09/81    15000      30   16000.0
3    7698   GARRIDO  DIRECTOR    7839.0  01/05/81    38500      30       NaN
4    7782  MARTINEZ  DIRECTOR    7839.0  09/06/81    24500      10       NaN

In [5]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
print(cursor.fetchall())

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

[]
            name
0       clientes
1  departamentos
2        pedidos
3      productos
4      empleados

In [11]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

query ="Select * from empleados;"
cursor.execute(query)
print(cursor.fetchall())
# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

[(7499, 'ALONSO', 'VENDEDOR', 7698.0, '20/02/81', 14000, 30, 4000.0), (7521, 'LOPEZ', 'EMPLEADO', 7782.0, '08/05/81', 13500, 10, None), (7654, 'MARTIN', 'VENDEDOR', 7698.0, '28/09/81', 15000, 30, 16000.0), (7698, 'GARRIDO', 'DIRECTOR', 7839.0, '01/05/81', 38500, 30, None), (7782, 'MARTINEZ', 'DIRECTOR', 7839.0, '09/06/81', 24500, 10, None), (7839, 'REY', 'PRESIDENTE', None, '17/11/81', 60000, 10, None), (7844, 'CALVO', 'VENDEDOR', 7698.0, '08/09/81', 18000, 30, 0.0), (7876, 'GIL', 'ANALISTA', 7782.0, '06/05/82', 33500, 20, None), (7900, 'JIMENEZ', 'EMPLEADO', 7782.0, '24/03/83', 14000, 20, None)]
   EMP_NO  APELLIDO    OFICIO  DIRECTOR  FECHA_AL  SALARIO  DEP_NO  COMISION
0    7499    ALONSO  VENDEDOR    7698.0  20/02/81    14000      30    4000.0
1    7521     LOPEZ  EMPLEADO    7782.0  08/05/81    13500      10       NaN
2    7654    MARTIN  VENDEDOR    7698.0  28/09/81    15000      30   16000.0
3    7698   GARRIDO  DIRECTOR    7839.0  01/05/81    38500      30       NaN
4    7782  MARTINEZ  DIRECTOR    7839.0  09/06/81    24500      10       NaN

FUNCIONES



1. **`SUBSTR(string, start, length)`**  
   - **Descripción**: Devuelve una subcadena de `string` comenzando en `start` y con una longitud de `length`.
   - **Ejemplo**: `SUBSTR('abcdef', 2, 3)` → `'bcd'`

2. **`TRIM(string)`**  
   - **Descripción**: Elimina los espacios en blanco al principio y al final de `string`.
   - **Ejemplo**: `TRIM('  hola  ')` → `'hola'`

3. **`LTRIM(string)`**  
   - **Descripción**: Elimina los espacios en blanco solo al principio de `string`.
   - **Ejemplo**: `LTRIM('  hola  ')` → `'hola  '`

4. **`RTRIM(string)`**  
   - **Descripción**: Elimina los espacios en blanco solo al final de `string`.
   - **Ejemplo**: `RTRIM('  hola  ')` → `'  hola'`

5. **`LENGTH(string)`**  
   - **Descripción**: Devuelve la longitud de `string` (número de caracteres).
   - **Ejemplo**: `LENGTH('hola')` → `4`

6. **`REPLACE(string, old, new)`**  
   - **Descripción**: Reemplaza todas las ocurrencias de `old` por `new` en `string`.
   - **Ejemplo**: `REPLACE('hola mundo', 'mundo', 'amigo')` → `'hola amigo'`

7. **`UPPER(string)`**  
   - **Descripción**: Convierte todos los caracteres de `string` a mayúsculas.
   - **Ejemplo**: `UPPER('hola')` → `'HOLA'`

8. **`LOWER(string)`**  
   - **Descripción**: Convierte todos los caracteres de `string` a minúsculas.
   - **Ejemplo**: `LOWER('HOLA')` → `'hola'`

9. **`INSTR(string, substring)`**  
   - **Descripción**: Devuelve la posición de la primera ocurrencia de `substring` en `string`. Retorna `0` si no se encuentra.
   - **Ejemplo**: `INSTR('hola mundo', 'mundo')` → `6` (posición de inicio)

In [13]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Crear un cursor para ejecutar la consulta
cursor = conexion.cursor()

# Consulta SQL adaptada a la estructura de la tabla
query = '''
SELECT
    SUBSTR(APELLIDO, 1, 3) AS iniciales,
    TRIM(COMISION) AS comision_limpia,
    LTRIM('    ' || APELLIDO) AS apellido_espaciado,
    RTRIM(APELLIDO || '    ') AS apellido_final,
    LENGTH(APELLIDO) AS longitud_apellido,
    REPLACE(OFICIO, 'VENDEDOR', 'COMERCIAL') AS oficio_corregido,
    UPPER(OFICIO) AS oficio_mayus,
    LOWER(OFICIO) AS oficio_minus,
    INSTR(APELLIDO, 'a') AS letra_pos
FROM empleados
LIMIT 5;                                              -- Muestra solo los primeros 5 resultados
'''

# Ejecutar la consulta
cursor.execute(query)

# Obtener los nombres de las columnas
cols = [description[0] for description in cursor.description]

# Convertir el resultado a un DataFrame de pandas
data = pd.DataFrame(cursor.fetchall(), columns=cols)

# Mostrar los primeros registros
print(data)

# Cerrar la conexión
conexion.close()

  iniciales comision_limpia apellido_espaciado apellido_final  \
0       ALO          4000.0             ALONSO         ALONSO
1       LOP            None              LOPEZ          LOPEZ
2       MAR         16000.0             MARTIN         MARTIN
3       GAR            None            GARRIDO        GARRIDO
4       MAR            None           MARTINEZ       MARTINEZ

   longitud_apellido oficio_corregido oficio_mayus oficio_minus  letra_pos
0                  6        COMERCIAL     VENDEDOR     vendedor          0
1                  5         EMPLEADO     EMPLEADO     empleado          0
2                  6        COMERCIAL     VENDEDOR     vendedor          0
3                  7         DIRECTOR     DIRECTOR     director          0
4                  8         DIRECTOR     DIRECTOR     director          0

# **FUNCIONES FECHA**

1. **`date`**  
   - Devuelve solo la fecha en formato `YYYY-MM-DD`.  
   - Ejemplo: `SELECT date('now');` devuelve la fecha actual.

2. **`time`**  
   - Devuelve solo la hora en formato `HH:MM:SS`.  
   - Ejemplo: `SELECT time('now');` devuelve la hora actual.

3. **`datetime`**  
   - Devuelve la fecha y hora combinadas en formato `YYYY-MM-DD HH:MM:SS`.  
   - Ejemplo: `SELECT datetime('now');` devuelve la fecha y hora actuales.

4. **`julianday`**  
   - Devuelve el número de días desde el 1 de enero de 4713 a.C. (Calendario Juliano).  
   - Ejemplo: `SELECT julianday('now');` devuelve el número de días hasta hoy.

5. **`strftime`**  
   - Permite personalizar el formato de fecha y hora.  
   - Ejemplo: `SELECT strftime('%d-%m-%Y %H:%M:%S', 'now');` devuelve la fecha y hora en el formato `DD-MM-YYYY HH:MM:SS`.

In [17]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Crear un cursor para ejecutar la consulta
cursor = conexion.cursor()

# Consulta SQL corregida
query = '''
SELECT
    DATE('2023-07-21 19:36:13', 'START OF MONTH') AS PRINCIPIO_MES,
    DATE('2023-07-21 19:36:13', '+1 MONTH') AS MAS_UN_MES,
    DATE('2023-07-21 19:36:13', '-1 DAY') AS MENOS_UN_DIA,
    DATETIME('2023-07-21 19:36:13', '+5 MINUTES') AS MAS_CINCO_MINUTOS
'''

# Ejecutar la consulta
cursor.execute(query)

# Obtener los nombres de las columnas
cols = [description[0] for description in cursor.description]

# Convertir el resultado a un DataFrame de pandas
data = pd.DataFrame(cursor.fetchall(), columns=cols)

# Mostrar los primeros registros
print(data)

# Cerrar la conexión
conexion.close()

  PRINCIPIO_MES  MAS_UN_MES MENOS_UN_DIA    MAS_CINCO_MINUTOS
0    2023-07-01  2023-08-21   2023-07-20  2023-07-21 19:41:13

# FUNCIONES MATEMATICAS

1. **ABS(x)**: Devuelve el valor absoluto de un número.
   - Ejemplo: `ABS(-5)` → `5`

2. **RANDOM()**: Genera un número aleatorio.
   - Ejemplo: `RANDOM()` → (número aleatorio)

3. **ROUND(x, y)**: Redondea un número a `y` decimales.
   - Ejemplo: `ROUND(3.14159, 2)` → `3.14`

4. **CEIL(x)** o **CEILING(x)**: Redondea un número hacia arriba al entero más cercano.
   - Ejemplo: `CEIL(4.2)` → `5`

5. **FLOOR(x)**: Redondea un número hacia abajo al entero más cercano.
   - Ejemplo: `FLOOR(4.8)` → `4`

6. **POWER(x, y)**: Calcula `x` elevado a la potencia `y`.
   - Ejemplo: `POWER(2, 3)` → `8`

7. **SQRT(x)**: Calcula la raíz cuadrada de un número.
   - Ejemplo: `SQRT(16)` → `4`

8. **EXP(x)**: Calcula el número `e` elevado a la potencia `x`.
   - Ejemplo: `EXP(1)` → `2.71828`

9. **LN(x)** o **LOG(x)**: Calcula el logaritmo natural de `x`.
   - Ejemplo: `LN(10)` → `2.30258`

In [19]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Crear un cursor para ejecutar la consulta
cursor = conexion.cursor()

# Consulta SQL corregida
query = '''
SELECT ABS(-1000),
      RANDOM(),
      ROUND(2.546549);
'''

# Ejecutar la consulta
cursor.execute(query)

# Obtener los nombres de las columnas
cols = [description[0] for description in cursor.description]

# Convertir el resultado a un DataFrame de pandas
data = pd.DataFrame(cursor.fetchall(), columns=cols)

# Mostrar los primeros registros
print(data)

# Cerrar la conexión
conexion.close()

   ABS(-1000)             RANDOM()  ROUND(2.546549)
0        1000 -4925721266981374891              3.0

# FUNCIONES AGREGACION

1. **AVG(column)**: Calcula el promedio de los valores en una columna.  
   - Ejemplo: `SELECT AVG(salario) FROM empleados;`  

2. **COUNT(column)**: Cuenta el número de filas en una columna, ignorando valores nulos.  
   - Ejemplo: `SELECT COUNT(emp_no) FROM empleados;`  

3. **MAX(column)**: Devuelve el valor máximo en una columna.  
   - Ejemplo: `SELECT MAX(salario) FROM empleados;`  

4. **MIN(column)**: Devuelve el valor mínimo en una columna.  
   - Ejemplo: `SELECT MIN(salario) FROM empleados;`  

5. **SUM(column)**: Suma los valores de una columna.  
   - Ejemplo: `SELECT SUM(salario) FROM empleados;`  

### Funciones adicionales útiles:  

6. **GROUP_CONCAT(column)**: Devuelve todos los valores de una columna concatenados en un string (especialmente útil en SQLite).  
   - Ejemplo: `SELECT GROUP_CONCAT(apellido) FROM empleados;`  

7. **VARIANCE(column)** o **VAR_POP(column)**: Calcula la varianza de los valores (puede no estar disponible en todas las bases de datos).  
   - Ejemplo: `SELECT VARIANCE(salario) FROM empleados;`  

8. **STDDEV(column)** o **STDDEV_POP(column)**: Calcula la desviación estándar de los valores (similar a la varianza).  
   - Ejemplo: `SELECT STDDEV(salario) FROM empleados;`

In [20]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Crear un cursor para ejecutar la consulta
cursor = conexion.cursor()

# Consulta SQL corregida
query ='''
SELECT
    AVG(salario) AS promedio_salario,
    COUNT(*) AS total_empleados,
    MAX(salario) AS salario_maximo,
    MIN(salario) AS salario_minimo,
    SUM(salario) AS total_salarios
FROM empleados;'''


# Ejecutar la consulta
cursor.execute(query)

# Obtener los nombres de las columnas
cols = [description[0] for description in cursor.description]

# Convertir el resultado a un DataFrame de pandas
data = pd.DataFrame(cursor.fetchall(), columns=cols)

# Mostrar los primeros registros
print(data)

# Cerrar la conexión
conexion.close()

   promedio_salario  total_empleados  salario_maximo  salario_minimo  \
0      25666.666667                9           60000           13500

   total_salarios
0          231000