<a href="https://colab.research.google.com/github/KARENCMP82/SQL/blob/main/parte_1_ejercicios_sin_completar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL en Google Colab con la librería SQLite.


[Librería SQLite](https://www.sqlitetutorial.net/)




## Importamos las librerias y montamos el drive de Google en nuestro Colab

In [7]:
#from google.colab import drive
#drive.mount('/content/drive', force_remount=True)
from google.colab import files
load=files.upload()

Saving parte1.db to parte1.db

In [8]:
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM empleados;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   EMP_NO  APELLIDO    OFICIO  DIRECTOR  FECHA_AL  SALARIO  DEP_NO  COMISION
0    7499    ALONSO  VENDEDOR    7698.0  20/02/81    14000      30    4000.0
1    7521     LOPEZ  EMPLEADO    7782.0  08/05/81    13500      10       NaN
2    7654    MARTIN  VENDEDOR    7698.0  28/09/81    15000      30   16000.0
3    7698   GARRIDO  DIRECTOR    7839.0  01/05/81    38500      30       NaN
4    7782  MARTINEZ  DIRECTOR    7839.0  09/06/81    24500      10       NaN

#Parte 1 ejercicios:

In [10]:
# Escribir una consulta para traer todos los datos que tiene la tabla clientes
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM clientes;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   CLIENTE_NO                   NOMBRE  LOCALIDAD  VENDEDOR_NO  DEBE  HABER  \
0         101     DISTRIBUCIONES GOMEZ     MADRID         7499     0      0
1         102          LOGITRONICA S.L  BARCELONA         7654     0      0
2         103  INDUSTRIAS LACTEAS S.A.  LAS ROZAS         7844     0      0
3         104     TALLERES ESTESO S.A.    SEVILLA         7654     0      0
4         105           EDICIONES SANZ  BARCELONA         7499     0      0

   LIMITE_CREDITO
0           50000
1           50000
2          100000
3           50000
4           50000

In [16]:
# Traer todos los datos del cliente 101 y el cliente 106

import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM clientes WHERE CLIENTE_NO IN (101, 106);"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   CLIENTE_NO                NOMBRE LOCALIDAD  VENDEDOR_NO  DEBE  HABER  \
0         101  DISTRIBUCIONES GOMEZ    MADRID         7499     0      0
1         106       SIGNOLOGIC S.A.    MADRID         7654     0      0

   LIMITE_CREDITO
0           50000
1           50000

In [17]:
# Extraer los nombres de los clientes ubicados en Sevilla
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM clientes where localidad='SEVILLA';"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   CLIENTE_NO                 NOMBRE LOCALIDAD  VENDEDOR_NO  DEBE  HABER  \
0         104   TALLERES ESTESO S.A.   SEVILLA         7654     0      0
1         108  MANUFACTURAS ALI S.A.   SEVILLA         7654     0      0

   LIMITE_CREDITO
0           50000
1           50000

In [18]:
# Extraer el límite máximo (poner alias a la columna como "MAX_LIM") que se le da a los clientes de Sevilla
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT  LIMITE_CREDITO AS LIMITE_MAXIMO FROM clientes WHERE LOCALIDAD='SEVILLA';"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   LIMITE_MAXIMO
0          50000
1          50000

In [19]:
# Escribir una consulta para traer todos los datos que tiene la tabla departamentos
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM departamentos;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   DEP_NO        DNOMBRE  LOCALIDAD
0      10   CONTABILIDAD  BARCELONA
1      20  INVESTIGACION   VALENCIA
2      30         VENTAS     MADRID
3      40     PRODUCCION    SEVILLA

In [20]:
# Realizar una consulta que devuelva una abreviacion de los nombres de los departamentos con las primeras tres letras y además traiga
 # todas las columnas.

import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT DEP_NO,SUBSTR(DNOMBRE, 1, 3) AS NOMBRE, LOCALIDAD   FROM departamentos;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   DEP_NO NOMBRE  LOCALIDAD
0      10    CON  BARCELONA
1      20    INV   VALENCIA
2      30    VEN     MADRID
3      40    PRO    SEVILLA

In [21]:
# Escribir una consulta para traer todos los datos que tiene la tabla empleados
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM empleados;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   EMP_NO  APELLIDO    OFICIO  DIRECTOR  FECHA_AL  SALARIO  DEP_NO  COMISION
0    7499    ALONSO  VENDEDOR    7698.0  20/02/81    14000      30    4000.0
1    7521     LOPEZ  EMPLEADO    7782.0  08/05/81    13500      10       NaN
2    7654    MARTIN  VENDEDOR    7698.0  28/09/81    15000      30   16000.0
3    7698   GARRIDO  DIRECTOR    7839.0  01/05/81    38500      30       NaN
4    7782  MARTINEZ  DIRECTOR    7839.0  09/06/81    24500      10       NaN

In [22]:
# Escribir una consulta que devuelva todos los datos de los vendedores cuyo apellido empiecen con M
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM empleados WHERE APELLIDO LIKE 'M%' ;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   EMP_NO  APELLIDO    OFICIO  DIRECTOR  FECHA_AL  SALARIO  DEP_NO  COMISION
0    7654    MARTIN  VENDEDOR    7698.0  28/09/81    15000      30   16000.0
1    7782  MARTINEZ  DIRECTOR    7839.0  09/06/81    24500      10       NaN

In [25]:
# Escribir una consulta que devuelva solo los apellidos de los empleados que no tienen comision cargada en la tabla
import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM empleados WHERE COMISION is null ;"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

   EMP_NO  APELLIDO      OFICIO  DIRECTOR  FECHA_AL  SALARIO  DEP_NO COMISION
0    7521     LOPEZ    EMPLEADO    7782.0  08/05/81    13500      10     None
1    7698   GARRIDO    DIRECTOR    7839.0  01/05/81    38500      30     None
2    7782  MARTINEZ    DIRECTOR    7839.0  09/06/81    24500      10     None
3    7839       REY  PRESIDENTE       NaN  17/11/81    60000      10     None
4    7876       GIL    ANALISTA    7782.0  06/05/82    33500      20     None

In [28]:
# Escribir una consulta que devuelva todos los datos de los empleados que han ingresado a la empresa desde 1982

import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT * FROM empleados WHERE STRFTIME('%Y', FECHA_AL) >= '1982';"  # Ajusta la consulta según la estructura de tu base de datos

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

Empty DataFrame
Columns: [EMP_NO, APELLIDO, OFICIO, DIRECTOR, FECHA_AL, SALARIO, DEP_NO, COMISION]
Index: []

In [34]:
# Escribir una consulta que devuelva el total de salario y comisiones de los empleados que entraron a trabajar en 1981
# (con un alias que diga "total_adeudado")

import sqlite3
import pandas as pd

# Conexión a la base de datos SQLite
conexion = sqlite3.connect('parte1.db')

# Consulta SQL
query = "SELECT SUM(SALARIO + COMISION) AS total_adeudado FROM empleados WHERE STRFTIME('%Y', FECHA_AL) = '1981';"

# Leer los datos en un DataFrame de pandas
data = pd.read_sql_query(query, conexion)

# Mostrar los primeros registros
print(data.head())

# Cerrar la conexión
conexion.close()

  total_adeudado
0           None

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla pedidos
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva la cantidad de unidades solicitadas por cada cliente y cada producto
query = '''



 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva la cantidad de productos diferentes que ha pedido cada cliente
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla productos
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva una columna con el tipo de producto antes de la descripcion
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva el total de stock de productos tipo mesa
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)