<a href="https://colab.research.google.com/github/KARENCMP82/SQL/blob/main/parte_1_ejercicios_sin_completar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL en Google Colab con la librería SQLite.


[Librería SQLite](https://www.sqlitetutorial.net/)




## Importamos las librerias y montamos el drive de Google en nuestro Colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
database = '/content/drive/MyDrive/xxxxxxxxx vuestra ruta xxxxxxxxxxxxxxxxx/parte1.db'
conexion = sqlite3.connect(database)
cursor = conexion.cursor()

#Parte 1 ejercicios:

In [ ]:
query = '''

SELECT
    name
FROM
    sqlite_master
WHERE
    type ='table' AND
    name NOT LIKE 'sqlite_%';
 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla clientes

query = '''



 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Traer todos los datos del cliente 101 y el cliente 106

query = '''



 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Extraer los nombres de los clientes ubicados en Sevilla
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Extraer el límite máximo (poner alias a la columna como "MAX_LIM") que se le da a los clientes de Sevilla
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla departamentos
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Realizar una consulta que devuelva una abreviacion de los nombres de los departamentos con las primeras tres letras y además traiga todas las columnas.
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla empleados
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva todos los datos de los vendedores cuyo apellido empiecen con M
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva solo los apellidos de los empleados que no tienen comision cargada en la tabla
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva todos los datos de los empleados que han ingresado a la empresa desde 1982
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva el total de salario y comisiones de los empleados que entraron a trabajar en 1981  (con un alias que diga "total_adeudado")
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla pedidos
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva la cantidad de unidades solicitadas por cada cliente y cada producto
query = '''



 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva la cantidad de productos diferentes que ha pedido cada cliente
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta para traer todos los datos que tiene la tabla productos
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva una columna con el tipo de producto antes de la descripcion
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)

In [ ]:
# Escribir una consulta que devuelva el total de stock de productos tipo mesa
query = '''




 '''

cursor.execute(query)
conexion.commit()
cols = [description[0] for description in cursor.description]
pd.DataFrame(cursor.fetchall(), columns=cols)